


/* body {
  background: #ffffff;
  /* font-family: 'Poppins', sans-serif; */
  /*overflow-x: hidden;
} */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet');


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




body{
  font-family: 'Josefin Sans', sans-serif;
}

nav{
  float: right;
  position:fixed;
  top:0;
  width:100%;
  background-color: white;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display:inline-block;
  margin-left: 300px;
  margin-right: 20px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color:#242456;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  padding: 8px;
}

/* nav a:hover{
  color:rgb(255, 191, 128);

} */

nav a::before{
  content: '';
  display: block;
  height:5px
  width 100%;
  position: absolute;
  top:0;
  width:0%;

}

nav a hover::before {
  width:100%;

}

nav a:hover {
  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
  }
  @-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @-ms-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @-o-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }




.home{
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  z-index: 99;
}

.flex{
  display: flex;
  
}

#home_text{
  position: relative;
  top:75px;
  left: 110px;
  color:white;
}

#home_desc{
  font-size: 18px;
}


.quotation{
  font-size: 80px;
}



/* button  */

.download1 {
  width: 220px;
  height: 60px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #111;
  background: lightgreen;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.download1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}




.download1:active {
  color: white;
}

.download1:active:after {
  background: transparent;
}

.download1:hover:before {
  opacity: 1;
}

.download1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightgreen;
  left: 0;
  top: 0;
  border-radius: 10px;
}





@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#featureimg{
  position:relative;
  top:40px;
  left:60px;
}
.flex2{
  display:flex;
}

.featureimg{
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
}

#featurestxt{
  position:relative;
  top:100px;
  left:50px;
}

#colordescp{
  margin-top:45px;
  margin-left:10px;
}

#timedescp{
  margin-top:75px;
  margin-left:10px;

}

#uxdescp{
  margin-top:75px;
  margin-left:10px;

}

#try{
  position:relative;
  top:80px;
  left:250px;
}

h2{
  font-size: 50px;
}



#testimonials{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  padding:80px;
  top:80px;
}



#download2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  margin-bottom:90px;
  margin-top:90px;
}



#supportxt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
  position: relative;
  left:600px;
  text-decoration: none;
}





